<%- include("header/header") -%>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Opdrachten</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Opdrachten</li>
            </ol>
        </nav>
    </div>
 
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <% if (session.roles == "coordinator") { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Alle opdrachten</h5>

                        <table id="datatable" class="display nowrap" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">Opdrachtgever</th>
                                    <th scope="col">Speelplaats</th>
                                    <th scope="col">Datum</th>
                                    <th scope="col">Aantal LOTUS slachtoffers</th>
                                    <th scope="col">Acties</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% assignments.forEach(assignment => { %>
                                    <tr>
                                        <td><%= assignment.firstName %> <%= assignment.lastName %></td>
                                        <td><%= assignment.playgroundStreet %> <%= assignment.playgroundHouseNumber %><%= assignment.playgroundHouseNumberAddition %>, <%= assignment.playgroundTown %></td>
                                        <td><%= assignment.dateTime %></td>
                                        <td><%= assignment.amountOfLotusVictims %></td>
                                        <td>
                                            <button type="button" class="btn btn-primary"><i class="bi bi-pencil"></i></button>
                                            <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                                        </td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <% } else if (session.roles == "client") { %>
                    <div>
                        <div class="row">
                            <% assignments.forEach(assignment => { %>
                                <div class="col-lg-6">
                                    <a href="/">
                                        <div class="card">
                                            <div class="card-body assignment_card">
                                            <h5 class="card-title"><%= assignment.amountOfLotusVictims + " LOTUSslachtoffers nodig in " + assignment.playgroundTown %></h5>
                                                <%= "Opdracht in " + assignment.playgroundHouseNumber + " " + assignment.playgroundStreet + " " + assignment.playgroundTown + ", " + assignment.playgroundPostalCode %> 
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% } else if (session.roles == "member") { %>
                    <div>
                        <div class="row">
                            <% assignments.forEach(assignment => { %>
                                <div class="col-lg-6">
                                    <a href="assignment_detail?id=<%=assignment._id%>">
                                        <div class="card">
                                            <div class="card-body assignment_card">
                                            <h5 class="card-title"><%= assignment.amountOfLotusVictims + " LOTUSslachtoffers nodig in " + assignment.playgroundTown %></h5>
                                                <%= "Opdracht in " + assignment.playgroundHouseNumber + " " + assignment.playgroundStreet + " " + assignment.playgroundTown + ", " + assignment.playgroundPostalCode %> 
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
</main>
   
<%- include("footer/footer") -%>