<%- include("header/header") %>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Verzoeken</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Verzoeken</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">

            <% if(requests.length === 0) { %>

            <div class="col-md-6 col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Er zijn momenteel geen verzoeken</h5>
                        <p class="card-text">Kijk regelmatig in je mail voor updates!</p>
                    </div>
                </div>
            </div>

            <% } %>

                <% requests.forEach(request => { %>
                    <% let role = ""; switch(request.user.roles[0]) { case "coordinator": role = "Coördinator"; break; case "client" : role = "Opdrachtgever"; break; case "member": role = "LOTUSslachtoffer"; break; } %>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#request_<%= request._id %>">
                            <div class="card">
                                <div class="card-body request_card">

                                    <% if(request.type === "createAssignment") { %> 
                                        <h5 class="card-title"><i class="bi bi-file-text"></i> <%= request.user.firstName + " wilt een opdracht aanmaken" %></h5>
                                        <p>
                                            <b>Naam:</b> <%= request.user.firstName + " " + request.user.lastName %>
                                            <br>
                                            <b>E-mailadres:</b> <%= request.user.emailAddress %> 
                                            <br>
                                            <b>Rol:</b> <%= role %>  
                                            <br>
                                            <br>
                                            <b>Type:</b> Opdracht aanmaken 
                                            <br>
                                            <b>Datum:</b> <%= request.requestDate %> 
                                        </p>
                                    <% } else if(request.type === "enrollment") { %> 
                                        <h5 class="card-title"><i class="bi bi-pencil-square"></i> <%= request.user.firstName + " wilt zich inschrijven" %></h5>
                                        <p>
                                            <b>Naam:</b> <%= request.user.firstName + " " + request.user.lastName %>
                                            <br>
                                            <b>E-mailadres:</b> <%= request.user.emailAddress %> 
                                            <br>
                                            <b>Rol:</b> <%= role %>  
                                            <br>
                                            <br>
                                            <b>Type:</b> Inschrijven 
                                            <br>
                                            <b>Datum:</b> <%= request.requestDate %> 
                                        </p>
                                    <% } else if(request.type === "cancelEnrollment") { %> 
                                        <h5 class="card-title"><i class="bi bi-trash"></i> <%= request.user.firstName + " wilt zich uitschrijven" %></h5>
                                        <p>
                                            <b>Naam:</b> <%= request.user.firstName + " " + request.user.lastName %>
                                            <br>
                                            <b>E-mailadres:</b> <%= request.user.emailAddress %> 
                                            <br>
                                            <b>Rol:</b> <%= role %>  
                                            <br>
                                            <br>
                                            <b>Type:</b> Uitschrijven 
                                            <br>
                                            <b>Datum:</b> <%= request.requestDate %> 
                                        </p>

                                        <% } else if(request.type === "deleteAssignment") { %> 
                                            <h5 class="card-title"><i class="bi bi-trash"></i> <%= request.user.firstName + " wilt zijn opdracht verwijderen" %></h5>
                                            <p>
                                                <b>Naam:</b> <%= request.user.firstName + " " + request.user.lastName %>
                                                <br>
                                                <b>E-mailadres:</b> <%= request.user.emailAddress %> 
                                                <br>
                                                <b>Rol:</b> <%= role %>  
                                                <br>
                                                <br>
                                                <b>Type:</b> Opdracht verwijderen 
                                                <br>
                                                <b>Datum:</b> <%= request.requestDate %> 
                                            </p>
                                    <% } else {%>
                                        <p>pas request_overview.ejs aan</p>
                                    <% } %>
                                </div>
                                <div class="card-footer">Klik om verzoek te beoordelen</div>
                            </div>
                        </a>
                    </div>

                    <div class="modal fade" id="request_<%= request._id %>" tabindex="-1">
                        <% if(request.type === "createAssignment" || request.type === "deleteAssignment") { %>
                            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                         <% } else { %>
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                         <% } %>
                          <div class="modal-content">
                            <div class="modal-header">
                            <% let requestTypeModal = ""; switch(request.type) {
                                case "createAssignment":
                                requestTypeModal = "(Opdracht aanmaken)";
                                break;
                                case "deleteAssignment":
                                requestTypeModal = "(Opdracht verwijderen)";
                                break;
                                case "cancelEnrollment":
                                requestTypeModal = "(Uitschrijving)";
                                break;
                                case "enrollment":
                                requestTypeModal = "(Inschrijving)";
                                break;
                            } %> 
                              <h5 class="modal-title"><%= "Verzoek van " + request.user.firstName + " beoordelen " + requestTypeModal%></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                
                                <% if(request.type === "createAssignment" || request.type === "deleteAssignment" ) { %> 
                                    <h6>Persoonlijke gegevens</h6>

                                    <% const a = request.assignment %> 

                                        <b>Voornaam:</b> <%= a.firstName %>
                                        <br>
                                        <b>Achternaam:</b> <%= a.lastName %>
                                        <br>
                                        <b>E-mailadres:</b> <%= a.emailAddress %> 
                                        <br>
                                        <b>Straat:</b> <%= a.street %> 
                                        <br>
                                        <b>Huisnummer:</b> <%= a.houseNumber %> 
                                        <br>
                                        <% if(a.houseNumberAddition != "" ) { %> 
                                            <b>Huisnummer toevoeging:</b> <%= a.houseNumberAddition %> 
                                            <br>
                                        <% } %> 
                                        <b>Plaats:</b> <%= a.town %> 
                                        <br>
                                        <b>Postcode:</b> <%= a.postalCode %> 
                                        <br>
                                        <br>

                                        <h6>Speelplaats adres gegevens</h6>
                                        <b>Straat:</b> <%= a.playgroundStreet %> 
                                        <br>
                                        <b>Huisnummer:</b> <%= a.playgroundHouseNumber %> 
                                        <br>
                                        <% if(a.playgroundHouseNumberAddition != "" ) { %> 
                                            <b>Huisnummer toevoeging:</b> <%= a.playgroundHouseNumberAddition %> 
                                            <br>
                                        <% } %> 
                                        <b>Plaats:</b> <%= a.playgroundTown %> 
                                        <br>
                                        <b>Postcode:</b> <%= a.playgroundPostalCode %> 

                                        <br>
                                        <br>

                                        <% if(a.makeUpStreet != "" || a.makeUpHouseNumber != null || a.makeUpHouseNumberAddition != "" || a.makeUpTown != "" || a.makeUpPostalCode != "" ) { %>

                                        <h6>Grimeer adres gegevens</h6>

                                            <% if(a.makeUpStreet != "" ) { %> 
                                                <b>Straat:</b> <%= a.makeUpStreet %> 
                                                <br>
                                            <% } %> 

                                            <% if(a.makeUpHouseNumber != null ) { %> 
                                                <b>Huisnummer:</b> <%= a.makeUpHouseNumber %> 
                                                <br>
                                            <% } %> 

                                            <% if(a.makeUpHouseNumberAddition != "" ) { %> 
                                                <b>Huisnummer toevoeging:</b> <%= a.makeUpHouseNumberAddition %> 
                                                <br>
                                            <% } %> 

                                            <% if(a.makeUpTown != "" ) { %> 
                                                <b>Plaats:</b> <%= a.makeUpTown %> 
                                                <br>
                                            <% } %> 

                                            <% if(a.makeUpPostalCode != "" ) { %> 
                                                <b>Postcode:</b> <%= a.makeUpPostalCode %> 
                                                <br>
                                            <% } %> 

                                        <br>
                                        <% } %> 

                                        <h6>Factuurgegevens</h6>
                                        <b>E-mailadres:</b> <%= a.billingEmailAddress  %> 
                                        <br>
                                        <br>

                                        <h6>Overige</h6>
                                        <b>Vind plaats op:</b> <%= new Date(a.dateTime).toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'})  %> 
                                        <br>
                                        <b>Benodigde LOTUSslachtoffers:</b> <%= a.amountOfLotusVictims %> 
                                       
                                        <% if(a.comments != "" ) { %> 
                                            <br>
                                            <b>Opmerkingen:</b> <%= a.comments %> 
                                        <% } %> 

                                <% } else if(request.type === "enrollment" || request.type === "cancelEnrollment") { %> 
                                    <h6>Persoonlijke gegevens</h6>
                                    <% const u = request.user %> 
                                        <b>Voornaam:</b> <%= u.firstName %>
                                        <br>
                                        <b>Achternaam:</b> <%= u.lastName %>
                                        <br>
                                        <b>E-mailadres:</b> <%= u.emailAddress %> 
                                        <br>
                                        <b>Aantal opdrachten deelgenomen:</b> <%= u.participations %>  

                                        <hr>

                                    <% const a = request.assignment %> 
                                        <h6>Belangrijkste gegevens van de opdracht</h6>
                                        <b>Straat:</b> <%= a.playgroundStreet %> 
                                        <br>
                                        <b>Huisnummer:</b> <%= a.playgroundHouseNumber %> 
                                        <br>
                                        <% if(a.playgroundHouseNumberAddition != "" ) { %> 
                                            <b>Huisnummer toevoeging:</b> <%= a.playgroundHouseNumberAddition %> 
                                            <br>
                                        <% } %> 
                                        <b>Plaats:</b> <%= a.playgroundTown %> 
                                        <br>
                                        <b>Postcode:</b> <%= a.playgroundPostalCode %> 
                                        <br>
                                        <b>Vind plaats op:</b> <%= new Date(a.dateTime).toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'})  %> 
                                        <br>
                                        <b>Aantal LOTUSslachtoffers ingeschreven:</b> <%=a.participatingLotusVictims.length + "/" + a.amountOfLotusVictims %> 
                                <% } %>

                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                                <form action="/request/decline" method="POST">
                                    <input type="hidden" name="requestType" value="<%= request.type %>">
                                    <input type="hidden" name="requestId" value="<%= request._id %>">
                                    <input type="hidden" name="assignmentId" value="<%= request.assignment._id %>">
                                    <button type="submit" class="btn btn-danger">Afwijzen</button>
                                </form>
                                <form action="/request/approve" method="POST">
                                    <input type="hidden" name="requestType" value="<%= request.type %>">
                                    <input type="hidden" name="requestId" value="<%= request._id %>">
                                    <input type="hidden" name="assignmentId" value="<%= request.assignment._id %>">
                                    <button type="submit" class="btn btn-success">Goedkeuren</button>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                <% }); %>
            </div>
        </div>
    </section>
</main>

<%- include("footer/footer") %>