<%- include("header/header") %>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Gebruikers</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Gebruikers</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Alle gebruikers</h5>
                                <table id="datatable" class="display nowrap" width="100%">
                                    <thead>
                                        <tr>
                                            <th scope="col">Naam</th>
                                            <th scope="col">E-mailadres</th>
                                            <th scope="col">Rol</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% allUsers.forEach(user => { %>
                                        <tr>
                                            <td><%=user.firstName + " " + user.lastName%></td>
                                            <% let role = ""; switch(user.roles[0]) { case "coordinator": role = "Coördinator"; break; case "client" : role = "Opdrachtgever"; break; case "member": role = "LOTUSslachtoffer"; break; } %>
                                            <td><%=user.emailAddress%></td>
                                            <td><%= role %></td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End Recent Sales -->
                </div>
            </div>
            <!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">
                <!-- Recent Activity -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lid aanmaken</h5>
                        <form action="create_member" method="POST">
                            <div class="col-12">
                                <label class="form-label">E-mailadres</label>
                                <input type="text" id="form3Example3c" name="emailAddress" class="form-control" value="<% if(typeof oldValues !== "undefined"){%><%=oldValues.emailAddress%><%}%>"/>
                                <label class="form-label" style="color: red; padding: 10px 0px"><% if(typeof emailAddressErr !== "undefined"){%><%=emailAddressErr%><%}%></label>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Aanmaken</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Recent Activity -->
            </div>
            <!-- End Right side columns -->
        </div>
    </section>
</main>
<!-- End #main -->

<%- include("footer/footer") %>
