<%- include("./header/header") %>

<section class="vh-100 form-bg">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <form action="/register" method="POST" class="form-horizontal">
                    <div class="heading">Registreren <div class="subheading">als opdrachtgever</div></div>
                    <div class="form-group">
                        <input type="text" name="firstName" class="form-control" placeholder="Voornaam" value="<% if(typeof oldValues != "undefined"){%><%=oldValues.firstName%><%}%>"/>
                        <label class="form-label form-error"><% if(typeof firstNameErr != "undefined"){%><%=firstNameErr%><%}%></label>
                    </div>
                    <div class="form-group">
                        <input type="text"name="lastName" class="form-control" placeholder="Achternaam" value="<% if(typeof oldValues != "undefined"){%><%=oldValues.lastName%><%}%>" />
                        <label class="form-label form-error"><% if(typeof lastNameErr != "undefined"){%><%=lastNameErr%><%}%></label>
                    </div>
                    <div class="form-group">
                        <input type="text" name="emailAddress" class="form-control" placeholder="E-mailadres" value="<% if(typeof oldValues != "undefined"){%><%=oldValues.emailAddress%><%}%>"/>
                        <label class="form-label form-error"><% if(typeof emailAddressErr != "undefined"){%><%=emailAddressErr%><%}%></label>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Wachtwoord" value="<% if(typeof oldValues != "undefined"){%><%=oldValues.password%><%}%>"/>
                        <label class="form-label form-error"><% if(typeof passwordErr != "undefined"){%><%=passwordErr%><%}%></label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                        <span>Heb je al een account? <a href="/login" class="create_account">Inloggen</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include("./footer/footer") %>